[Desktop Entry]
Type=Application
Name=Landa
Comment=Peer-to-peer LAN file transfer
Exec=landa-bin %U
Icon=landa
Terminal=false
Categories=Network;FileTransfer;
StartupWMClass=landa
